{% extends 'base.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Профиль</h1>

        <div>
            <p>Имейл: {{ app.user.email }}</p>
            <p>
                Роль: {% if is_granted('ROLE_SUPER_ADMIN') %}
                    Администратор
                {% else %}
                    Пользователь
                {% endif %}
            </p>
            <p>
                Баланс: {{ balance }}
            </p>
            <a href="{{ path('app_profile_history') }}">История транзакций</a>
        </div>
    </div>
{% endblock %}
