{% extends 'base.html.twig' %}

{% block title %}Наши курсы{% endblock %}

{% block body %}
    <h1>Наши курсы</h1>

    <table class="table">
        <tbody>
        {% for course in courses %}
            <tr>
                <td>
                    <h2>
                        <a href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.CourseName }}</a>
                    </h2>
                </td>
            </tr>
            <tr>
                <td>{{ course.CourseDescription }}</td>
            </tr>
        {% else %}
        <td colspan="5">no records found</td>
        {% endfor %}
        </tbody>
    </table>


    <div class="line">-----------------------------------------</div>

    <a href="{{ path('app_course_new') }}">Новый курс</a>
{% endblock %}
