{% extends 'base.html.twig' %}

{% block title %}Новый курс{% endblock %}

{% block body %}
    <div class="container-fluid">
    <h1>Новый курс</h1>

    {{ include('course/_form.html.twig') }}

    <div class="line">-----------------------------------------</div>

    <a href="{{ path('app_course_index') }}" class="btn btn-outline-secondary" role="button">К списку курсов</a>
    </div>
{% endblock %}
