{% extends 'base.html.twig' %}

{% block title %}Новый урок{% endblock %}

{% block body %}
    {{ include('hat.html.twig') }}
    <div class="container-fluid">
        <h1>Создание нового урока</h1>

        <p>
            Курс: <a href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.CourseName }}</a>
        </p>

        {{ include('lesson/_form.html.twig') }}

    </div>
{% endblock %}
