{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Запрещено</h1>
        <p>У Вас нет доступа к этой странице.</p>
        <p>
            <a href="{{ path('homepage') }}">Домашняя страница</a>
        </p>
    </div>
{% endblock %}